.parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.board{
  padding: 30px 20px;
  background-image: url("./assets/pp.png");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  height: 500px;
  width: 500px;
  /*border: 1px solid red;*/
  display: grid;
  grid-template-columns: 146px 120px 146px;
  grid-template-rows: 136px 117px 137px;
  column-gap: 25px;
  row-gap: 23px;
  box-shadow: 10px 20px 20px grey;
}

/*.board .cell{*/
/*  border: 1px solid red;*/
/*}*/

.allowPointer{
  pointer-events: all;
}
.notAllowPointer{
  pointer-events: none;
}
.fadeBack{
  -webkit-filter: blur(5px);
  /*-moz-filter: blur(5px);*/
  /*-o-filter: blur(5px);*/
  /*-ms-filter: blur(5px);*/
  /*filter: blur(5px);*/
  /*background-color: #344881;*/
}